<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AngularJS - Summary Material | Live to Learn</title>
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <script src="/js/modernizr.js"></script>

    <!--        SyntaxHighlight-->
    <!-- Include required JS files -->
    <script type="text/javascript" src="/js/sintaxHighlighter/shCore.js"></script>

    <!--
            At least one brush. You need to include a brush for every
            language you want to highlight
        -->
    <script type="text/javascript" src="/js/sintaxHighlighter/shBrushJScript.js"></script>
    <script type="text/javascript" src="/js/sintaxHighlighter/shBrushXml.js"></script>
</head>

<body>
    <div class="menu-row">
        <div class="row">
            <div class="large-12 menu">
                <nav>
                    <!-- container -->
                    <div class="flat-mega-menu">
                        <!-- flat-mega-menu class -->

                        <label for="mobile-button">&#9776;</label>
                        <!-- mobile click button to show menu -->
                        <input id="mobile-button" type="checkbox">

                        <ul class="collapse">
                            <!-- collapse class for collapse the drop down -->
                            <li class="title">
                                <a href=""></a>
                            </li>

                            <li> <a href="#">Study &amp; Practice</a>

                                <div class="drop-down full-width hover-fade">
                                    <!-- full width drop down with 4 columns -->

                                    <ul>
                                        <!-- column one -->
                                        <li><span class="menu-heading">HTML</span>
                                        </li>
                                        <li> <a href="/html/html-main.html">Learning Material</a> </li>
                                        <li> <a href="/html/html-exercises.html">Exercises</a> </li>
                                        <li><span class="menu-heading">CSS</span>
                                        </li>
                                        <li> <a href="/css/css-main.html">Learning Material</a> </li>
                                        <li> <a href="/css/css-exercises.html">Exercises</a> </li>
                                    </ul>

                                    <ul>
                                        <!-- column two -->
                                        <li><span class="menu-heading">Less</span>
                                        </li>
                                        <li> <a href="/less/less-main.html">Learning Material</a> </li>
                                        <li> <a href="/less/less-exercises.html">Exercises</a> </li>
                                        <li><span class="menu-heading">Sass</span>
                                        </li>
                                        <li> <a href="/sass/sass-main.html">Learning Material</a> </li>
                                        <li> <a href="/sass/sass-exercises.html">Exercises</a> </li>
                                    </ul>

                                    <ul>
                                        <!-- column three -->
                                        <li><span class="menu-heading">JavaScript</span>
                                        </li>
                                        <li> <a href="/javascript/javascript-main.html">Learning Material</a> </li>
                                        <li> <a href="/javascript/javascript-exercises.html">Exercises</a> </li>
                                        <li><span class="menu-heading">jQuery</span>
                                        </li>
                                        <li> <a href="/jquery/jquery-main.html">Learning Material</a> </li>
                                        <li> <a href="/jquery/jquery-exercises.html">Exercises</a> </li>
                                    </ul>

                                    <ul>
                                        <!-- column four -->
                                        <li><span class="menu-heading">AngularJS</span>
                                        </li>
                                        <li> <a href="/angularjs/angularjs-main.html">Learning Material</a> </li>
                                        <li> <a href="/angularjs/angularjs-exercises.html">Exercises</a> </li>
                                        <li><span class="menu-heading">Node.js</span>
                                        </li>
                                        <li> <a href="/node/node-main.html">Learning Material</a> </li>
                                        <li> <a href="/node/node-exercises.html">Exercises</a> </li>
                                    </ul>

                                </div>
                            </li>
                            <li> <a href="/qa-data/qa-main.html">Q&amp;A</a>
                            </li>
                        </ul>

                    </div>
                    <!-- container end -->
                </nav>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns end">
            <h1 class="text-center">AngularJS Summary Materials</h1>
            <p>
                Used sources:
                <ul>
                    <li>AngularJS Developer Guide, see <a href="https://docs.angularjs.org/guide">here</a> </li>
                    <li>Pro AngularJS, by Adam Freeman, see <a href="http://www.apress.com/9781430264484">here</a> </li>
                </ul>
            </p>
        </div>
    </div>
    <div class="row anjs-page">
        <div class="small-12 medium-4 columns end">
            <div class="row">
                <div id="page-content" class="small-12 columns end">
                    <div id="page-content-title">Content</div>
                </div>
            </div>
        </div>
        <div class="small-12 medium-8 columns end">
            <div class="row">
                <div class="columns torn-page-large-section">
                    <section>
                        <h2>AngularJS Application Structure</h2>
                        <p>
                            AngularJS apps follow the MVC pattern and thus consist of 3 parts:
                            <ul>
                                <li>Model - application data, including support for CRUD operations on data via RESTful services. </li>
                                <li>View - data and logic to present the data to user. </li>
                                <li>Controllers - business logic - operations on model based on user interactions, including preparing data for the view. </li>
                            </ul>
                        </p>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="columns torn-page-large-section">
                    <section>
                        <h2>Angular Module</h2>
                        <p>
                            Module is a container for different app parts: controllers, services, filters, etc. In scalable applications it is recommended that app will be broken into modules like this:
                            <ul>
                                <li>A module for each feature</li>
                                <li>A module for each reusable component (especially directives and filters)</li>
                                <li>And an application level module which depends on the above modules and contains any initialization code.</li>
                            </ul>
                            To set the scope of a module use the <code>ng-app</code> attribute.
                        </p>
                        <h3>Creation vs Retrieval</h3>
                        <p>
                            <pre class="brush: js">angular.module('myModule', [])</pre> - will create the module <code>myModule</code> and overwrite any existing <code>myModule</code>.
                            <br />
                            <br />
                            <pre class="brush: js">angular.module('myModule')</pre> - will retrieve an existing <code>myModule</code>
                        </p>
                        <h3>Configuration and Run Blocks</h3>
                        <p>
                            <pre class="brush: js">
                        angular.module('myModule', []).
                            config(function(injectables) { // provider-injector
                              // This is an example of config block.
                              // You can have as many of these as you want.
                              // You can only inject Providers (not instances)
                              // into config blocks.
                            }).
                            run(function(injectables) { // instance-injector
                              // This is an example of a run block.
                              // You can have as many of these as you want.
                              // You can only inject instances (not Providers)
                              // into run blocks
                            });
                        </pre> When bootstrapping, first Angular applies all constant definitions. Then Angular applies configuration blocks in the same order they were registered.
                            <br />
                            <br /> A run block is the code which needs to run to kickstart the application. It is executed after all of the services have been configured and the injector has been created.
                        </p>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="columns torn-page-large-section">
                    <section>
                        <h2>Angular Scope</h2>
                        <p>
                            scope is an object that refers to the application model. It is an execution context for expressions. Scopes are arranged in hierarchical structure which mimic the DOM structure of the application. Scopes can watch expressions and propagate events.
                            <br />
                            <br /> Scopes provide context against which expressions are evaluated. For example <code>{{username}}</code> expression is meaningless, unless it is evaluated against a specific scope which defines the username property.
                        </p>
                        <iframe src="/angularjs/examples/simple-greeting/index.html" name="simple-greeting"></iframe>
                        <p>
                            Each Angular application has exactly one root scope, but may have several child scopes.
                        </p>
                        <p>
                            Scopes can propagate events in similar fashion to DOM events. The event can be broadcasted (<code>ng-click="$broadcast('MyEvent')"</code>) to the scope children or emitted (<code>ng-click="$emit('MyEvent')"</code>) to scope parents.
                        </p>
                        <h3>Scopes and Directives</h3>
                        <p>
                            There are 2 types of directives:
                            <ul>
                                <li>
                                    Observing directives, such as double-curly expressions <code>{{expression}}</code>, register listeners using the <code>$watch()</code> method.
                                </li>
                                <li>
                                    Listener directives, such as <code>ng-click</code>, register a listener with the DOM. When the DOM listener fires, the directive executes the associated expression and updates the view using the <code>$apply()</code> method.
                                </li>
                            </ul>

                            Directives that create scope:
                            <br />
                            <br /> Directives, such as <code>ng-controller</code> and <code>ng-repeat</code>, create new child scopes and attach the child scope to the corresponding DOM element.
                        </p>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="columns torn-page-large-section">
                    <section>
                        <h2>Angular Controller</h2>
                        <p>
                            In Angular, a Controller is a JavaScript constructor function that is used to augment the Angular Scope. When a Controller is attached to the DOM via the ng-controller directive, a new child scope will be available as an injectable parameter to the Controller's constructor function as <code>$scope</code>.
                            <br />
                            <br /> Use controllers to:
                            <ul>
                                <li>Set up the initial state of the <code>$scope</code> object</li>
                                <li>Add behavior to the <code>$scope</code> object</li>
                            </ul>

                            The most common way to keep Controllers slim is by encapsulating work that doesn't belong to controllers into services and then using these services in Controllers via dependency injection.
                            <br />
                            <br /> In the hierarchy of scopes that inherit from each other, the <code>$scope</code> that each Controller receives will have access to properties and methods defined by Controllers higher up the hierarchy.
                        </p>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="columns torn-page-large-section">
                    <section>
                        <h2>Angular Service</h2>
                        <p>
                            Angular service are objects that are wired together via Dependency Injection. Services are:
                            <ul>
                                <li>Lazily instantiated - instantiated on use</li>
                                <li>Singletons - reference to the single instance generated by the service factory</li>
                            </ul>

                            Examples of built-in services: <code>$http</code>, <code>$location</code>.
                            <br />
                            <br /> Create service:

                            <pre class="brush: js">
                        angular.module('myModule', []).
                            factory('myService', function() {
                                return function() {
                                     // Perform service operation
                                };
                            });

                        // or
                        angular.module('myModule', []).config(['$provide', function($provide) {
                            $provide.factory('serviceId', function() {
                                return function() {
                                     // Perform service operation
                                };
                            });
                        }]);

                    </pre>
                        </p>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="columns torn-page-large-section">
                    <section>
                        <h2>Angular Filter</h2>
                        <p>
                            A filter formats the value of an expression for display to the user.
                        </p>
                        <p>
                            Filter with parameters:
                            <pre class="brush: js">
                        {{ expression | filter:argument1:argument2:... }}                            
                    </pre>
                        </p>
                        <p>
                            Built-in filters:
                            <pre class="brush: js">
                        // Format the number 1234 with 2 decimal points
                        {{ 1234 | number:2 }}
                    </pre>
                        </p>
                        <p>
                            Use filter in controller:
                            <pre class="brush: js">
                        angular.module('FilterModule', []).
                            controller('FilterController', ['filterFilter', function(filterFilter) {
                              this.array = [
                                {name: 'Tobias'},
                                {name: 'Jeff'},
                                {name: 'Brian'},
                                {name: 'Igor'},
                                {name: 'James'},
                                {name: 'Brad'}
                              ];
                              this.filteredArray = filterFilter(this.array, 'a');
                            }]);                        
                    </pre>
                        </p>
                        <h3>Custom Filter</h3>
                        <pre class="brush: js">
                    angular.module('myApp', [])
                    .filter('myFilter', function() {
                      return function(param1, param2) {
                        return out;
                      };
                    })
                </pre>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="columns torn-page-large-section">
                    <section>
                        <h2>Custom Directives</h2>
                        <p>
                            Directives are markers on a DOM element (such as an attribute, element name, comment or CSS class) that tell AngularJS's HTML compiler ($compile) to attach a specified behavior to that DOM element or even transform the DOM element and its children.
                        </p>
                        <p>
                            Built-in directives examples: ngBind, ngModel ngClass.
                        </p>
                        <h3>Creating Directive</h3>
                        <p>
                            Directives are registered on modules using
                            <tt>module.directive</tt> API.
                            <pre class="brush: js">
                        angular.module('myApp', [])
                        .controller('Controller', ['$scope', function($scope) {
                            ...
                        }])
                        .directive('useTemplate', function() {
                          return {
                            restrict: 'A',
                            templateUrl: 'template.html'
                          };
                        });
                    </pre>
                            <pre class="brush: xml">
                        <div ng-controller="Controller">
                            <div use-template></div>
                        </div>
                    </pre> The
                            <tt>restrict</tt> specifies:
                            <ul>
                                <li>
                                    <tt>'A'</tt> - match attribute name</li>
                                <li>
                                    <tt>'E'</tt> - match element name</li>
                                <li>
                                    <tt>'C'</tt> - match class name</li>
                                <li>
                                    <tt>'AEC'</tt> - match either attribute, element or class</li>
                            </ul>
                        </p>
                        To associate outer scope with directive's inner scope, create <strong>isolate scope</strong>.
                        <br/>
                        <br /> Example:

                        <pre class="brush: js">
                    angular.module('docsIsolateScopeDirective', [])
                    .controller('Controller', ['$scope', function($scope) {
                      $scope.naomi = { name: 'Naomi', address: '1600 Amphitheatre' };
                      $scope.igor = { name: 'Igor', address: '123 Somewhere' };
                    }])
                    .directive('myCustomer', function() {
                      return {
                        restrict: 'E',
                        scope: {
                          customerInfo: '=info'
                        },
                        templateUrl: 'my-customer-iso.html'
                      };
                    });                        
                </pre>
                        <pre class="brush: xml">
                    <div ng-controller="Controller">
                      <my-customer info="naomi"></my-customer>
                      <hr>
                      <my-customer info="igor"></my-customer>
                    </div>
                </pre> Template content:
                        <pre class="brush: js">
                    Name: {{customerInfo.name}} Address: {{customerInfo.address}}
                </pre>
                        <p>
                            The scope option is an object that contains a property for each isolate scope binding. In this case it has just one property:
                            <ul>
                                <li>Its name (customerInfo) corresponds to the directive's isolate scope property customerInfo.</li>
                                <li>Its value (=info) tells $compile to bind to the info attribute.</li>
                            </ul>
                        </p>
                        <p>
                            Another option is to specify
                            <tt>transclude</tt> on directive:
                            <pre class="brush: js">
                        angular.module('docsTransclusionExample', [])
                        .controller('Controller', ['$scope', function($scope) {
                          $scope.name = 'Tobias';
                        }])
                        .directive('myDialog', function() {
                          return {
                            restrict: 'E',
                            transclude: true,
                            scope: {},
                            templateUrl: 'my-dialog.html'
                            }
                          };
                        });                        
                    </pre>
                        </p>
                        <iframe src="/angularjs/examples/simple-directive/index.html" name="simple-directive"></iframe>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="columns torn-page-large-section">
                    <section>
                        <h2>RESTFul Services</h2>
                        <p>
                            From Wikipedia: Representational State Transfer (REST) is an architecture style or design pattern used as a set of guidelines for creating web services which allow anything connected to a network to communicate with one another via HTTP. RESTful web services are assumed to transfer data in XML and/or JSON format. HTTP commands are GET, POST, PUT, DELETE etc.
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/jquery-2.1.3.min.js"></script>
    <script src="/bower_components/foundation/js/foundation.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/toc.js"></script>

    <!-- Finally, to actually run the highlighter, you need to include this JS on your page -->
    <script type="text/javascript">
    SyntaxHighlighter.all();
    </script>
</body>

</html>
