<form name="authForm">
    <div class="row login" ng-controller="authCtrl">
        <div class="small-12 columns end">
            <label>Email
                <input type="text" placeholder="please insert your email" name="username" ng-model="username" required />
            </label>    
        </div>
        <div class="small-12 columns end">
            <label>Password
                <input type="password" placeholder="please insert your password" name="password" ng-model="password" required />
            </label>    
        </div>
        <div class="small-12 columns end">
            <button class="button small radius" ng-click="authenticate(username, password)" ng-disabled="authForm.$invalid">Log In</button>
        </div>
    </div>
</form>
