.topics {
    border-right: 1px dotted #000;

    @media #{$small-only} {
        border-bottom: 1px dotted #000;
        margin-bottom: 24px;
    }

    a {
        display: block;
    }
}

.learning-tickets {
    .lt-content {
        background-color: rgb(204, 227, 234);
    }

    .lt-answer {
        min-height: 100px;
        background-color: #fff;
        border: 1px solid black;
        margin: 12px;
    }

    @media #{$medium-up} {
        border-left: 1px dotted #000;
    }

    .question-ticket {
        margin-bottom: 24px;
    }
}