@import "compass";

$base-font-size: 16px;
$base-line-height: 24px;

@include establish-baseline;

$h1-font-size: 2.827em;
$h2-font-size: 1.999em;
$h3-font-size: 1.414em;
$h4-font-size: 1em;
$paragraph-font-size: 1em;
$byline-font-size: 0.707em;

$header-line-height: 1.5;
$subheader-line-height: 1.5;
$paragraph-line-height: 1.5;

$font-color: #000;

@font-face {
  font-family: "Lora";
  src: url("https://www.google.com/fonts/specimen/Lora#charset");
}

@font-face {
  font-family: "Open Sans";
  src: url("http://www.google.com/fonts/specimen/Open+Sans#charset");
}

h1 {
    @include adjust-font-size-to($h1-font-size);
    @include trailer(2, $h1-font-size);
    font-family: "Lora", serif;
    color: #492811;
}

h2 {
    @include adjust-font-size-to($h2-font-size);
    @include leader(1, $h2-font-size);
    @include trailer(2, $h2-font-size);
    font-family: "Lora", serif;
}

h3 {
    @include adjust-font-size-to($h3-font-size);
    @include trailer(1, $h3-font-size);
    font-family: "Lora", serif;
}

h4 {
    @include adjust-font-size-to($h4-font-size);
    @include trailer(1, $h4-font-size);
    font-family: "Lora", serif;
}

.byline-link {
    @include adjust-font-size-to($byline-font-size);
    @include trailer(1, $byline-font-size);   
    color: #000; 

    &:hover, &:focus, &:active {
        color: scale-lightness($font-color, 30%);
    }
}

.debug-rhythm {
    @include debug-vertical-alignment();
}