@import "compass/css3";

$active-color: #ECECEC;

$default-background-size: auto auto;

.torn-page-large-section {
    background: {
          image: image-url("/images/crumpled_white_paper_texture_by_melemel-partial.jpg");
          position: top left;
    };

    box-shadow: 4px 4px 1em rgba(168, 168, 168, 0.8);
    border-radius: 5px;
    margin: 24px 0;
}

#page-content {
    width: 30%;
    margin-right: 15px;
}

iframe {
    background-color: white;
}

.anjs-active {
    background-color: scale-color($active-color, $lightness: -20%);
}


.button{
    box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
    -webkit-transition:box-shadow 0.5s;

    &:hover{
        box-shadow: 0px 2px 1px white inset, 0px -2px 20px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
    }

    &:active{
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 0px -2px 20px white, 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
        background:-webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 100%);
    }
}

/*.button.info:focus, button.info:focus {
    background-color: $active-color !important;
    color: #000;
}

button.info, .button.info {
    background-color: $active-color !important;
    border-color: #a7a7a7;
}*/