#page-content {
    margin: 24px 0;

    #page-content-title {
        @extend h2;
        color: #492811;
    }
}

a[name^="TOCHeader"] {
    @extend h4;
    line-height: 1.5;

}

a.top-anchor {
    @extend .byline-link;
}
